/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.div-section {
    padding: 7em 0;
    position: relative;
    width: 100%;
}

#sleeky-navbar {
	background: transparent !important;
	padding: 25px 16px;	
}

#sleeky-navbar .navbar-toggler {
	border: none;
	color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;


}

#nav-section {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),url('../images/jumbo-cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  background-attachment: fixed;
}

.heading-section .subheading {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #4986fc;
    text-transform: uppercase;
}

.heading-section h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.4;
}

.profile-section {
  overflow: hidden;
}

#errorSvg {
  width: 60%;
  margin: 0 auto;
}



/* Cards Section */

.course-card {
    margin-bottom: 30px;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.11) 0px 10px 23px -8px;
}

.course-card h5 {
  font-size: 15px;
  font-weight: 300;
  font-weight: bold;
}

.card img {
    display: block;
    width: 100%;
    height: 270px;
    position: relative;
    z-index: 1;
}

.card-text {
  font-size: 15px;
}





/*Profile Section*/

#profile-jumbo {
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.11) 0px 10px 23px -8px;
}

#course-jumbo {
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.11) 0px 10px 23px -8px;
}






/*Footer Section*/



.ftco-footer {
  font-size: 16px;
  padding: 2em 0;
  z-index: 0;
  background: #ce4be8;
  background: -moz-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ce4be8), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -o-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -ms-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -webkit-linear-gradient(315deg, #ce4be8 0%, #207ce5 100%);
  background: -o-linear-gradient(315deg, #ce4be8 0%, #207ce5 100%);
  background: linear-gradient(135deg, #ce4be8 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce4be8', endColorstr='#207ce5', GradientType=1 ); }

.ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; 
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600; 
}
  
.ftco-footer .ftco-footer-widget ul li a {
    color: rgba(255, 255, 255, 0.8); 
}

.ftco-footer .ftco-footer-widget ul li a span {
      color: rgba(255, 255, 255, 0.1); 
}

.ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important; 
}

.ftco-footer .ftco-footer-widget .btn-primary:hover {
      background: #fff;
      border: 2px solid #fff !important; 
}

.ftco-footer p {
    color: rgba(255, 255, 255, 0.8); 
}

.ftco-footer a {
    color: rgba(255, 255, 255, 0.8); 
}
    .ftco-footer a:hover {
      color: #4986fc; 
}
  
.ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #fff; 
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; 
}
  
.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    color: #fff;
    border-radius: 50%;
    position: relative;
    background: #24d2c8; 
}

.ftco-footer-social li a span {
      position: absolute;
      font-size: 18px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff !important; 
}

.ftco-footer-social li a:hover {
    color: #4986fc; 
}


.block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.8) !important;
}

.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: #24d2c8 !important;
}

.block-23 ul li span {
    color: rgba(255, 255, 255, 0.7);
    color: #e449ad;
}
