/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.div-section {
    padding: 7em 0;
    position: relative;
    width: 100%;
}

#sleeky-navbar {
	background: transparent !important;
	padding: 25px 16px;	
}

#sleeky-navbar .navbar-toggler {
	border: none;
	color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;


}

#nav-section {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),url('../images/jumbo-cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
}

.jumbotron {
	background: transparent !important;
}

.heading-text .subheading {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.heading-text h1 {
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    font-weight: 700;
}

.heading-text p {
    color: #fff;
    line-height: 1.5;
    font-weight: 300;
}

.heading-text p.caps {
    font-weight: 400;
    font-size: 16px;
}

.btn.btn-white {
    background: #fff !important;
    border: 1px solid #fff !important;
    color: #000000 !important;
}




/*Registration Form*/


.login-wrap {
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    z-index: 0;

}

.login-wrap h3 {
    font-weight: 500;
    font-size: 20px;
    color: #4986fc;
}

.login-wrap .form-group {
    position: relative;
    margin-bottom: 20px;
}

.login-wrap .form-group label {
    position: absolute;
    top: -12px;
    left: 0;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    background: #fff;
    margin-left: 30px;
    padding: 0 4px;
}

.login-wrap .form-control {
    height: 36px;
    background: #fff;
    color: #000000;
    font-size: 16px;
    border-radius: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 20px;
}


/*End of Registration*/


/*Browse Online Course Section*/

#browse-section {
    overflow: hidden;
}

.heading-section .subheading {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #4986fc;
    text-transform: uppercase;
}

.heading-section h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.4;
}

.course-category .text h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
}

.course-category .text span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
}

.course-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.course-category {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
}

.btn.btn-secondary {
    background: #e449ad !important;
    border: 1px solid #e449ad !important;
    color: #fff !important;
}



/*About Section*/

.about-section .about-intro {
    width: 100%;
    position: relative;
    z-index: 99;
}

.about-section .about-wrap {
    position: relative;
    width: 100%;
}

.about-section .img {
    -webkit-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    border: 15px solid #fff;
    width: 70%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about-section .img2 {
    -webkit-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    border: 15px solid #fff;
    width: 60%;
    height: 65%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



/*End of About Section*/


/*Counter Section*/

#enroll-section {
    position: relative;
    z-index: 0;
    background-attachment: fixed;
    height: 50vh;
}

#enroll-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: .8;
    background: #000000;
    background: #ce4be8;
    background: linear-gradient(135deg, #ce4be8 0%, #207ce5 100%);
}


.enroll-text h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    padding-top: 70px;
}

.enroll-text p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
}



/*Testimonials Section*/


.testimonial-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
}

.testimonials .card .card-img-top{
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #9fabbb;
    width: 100px;
    height: 100px;
}

.testimonials .card h5{
    color: #4986fc;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
}

.testimonials .card h5 span{
    font-size: 17px;
    color: #666666;
}

.testimonials .card p {
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;
}

.fa-star {
    color: #fc9927;
}

.owl-item > div{
    cursor: pointer;
    margin: 5% 0%;
    transition: margin 0.4s ease;
}

.owl-item.center > div {
    cursor: pointer;
    margin: 0;
}

.testimonials .active {
    opacity: 0.5;
    transition: all 0.25s ease;
}

.testimonials .center {
    opacity: 1;
}

.testimonials .owl-stage-outer {
    padding: 30px 0;
}

.testimonials .owl-dots {
    text-align: center;
}

.testimonials .owl-dots span {
    position: relative;
    height: 14px;
    width: 14px;
    border-radius: 20px;
    display: block;
    background: #fff;
    border: 2px solid #4986fc;
    transition: all 0.25s ease;
    margin: 0 4px;
}

.testimonials .owl-dots .active span {
    background: #4986fc;
    box-shadow: none;
    height: 14px;
    width: 30px;
    position: relative;
    transition: all 0.25s ease;
}

.testimonials .owl-dots .active {
    box-shadow: none;
}

.owl-dots .owl-dot:focus{
    box-shadow: none !important;
    outline: 0;
    border: 0;
}

/*End of Testimonials Section*/




/*Footer Section*/

















/*Media Query for Registration*/

@media (min-width: 768px) and (max-width: 1000px) {
    .login-wrap {
        margin-top: -580px;
    }

}

@media (min-width: 1001px) and (max-width: 1300px) {
    .login-wrap {
        margin-top: -490px;
    }

}

@media (min-width: 1301px) {
    .login-wrap {
        margin-top: -430px;
    }

}

/*End of Media Query for Registration*/

/*Media Query for Browse H2*/

@media (max-width: 767.98px) {
.heading-section h2 {
    font-size: 28px;
    }
}

/*End of Media Query for Browse H2*/

/*Media Query for Section Margin*/

@media (max-width: 767.98px) {
.div-section {
    padding: 6em 0;
    }
}

/*End of Media Query for Section Margin*/

/*Media Query for About Section*/

@media (max-width: 767.98px) {
.about-section .about-wrap {
    height: 400px;
    }
}

@media (max-width: 767.98px) {
.img {
    height: 400px;
    }
}

@media (max-width: 767.98px) {
.img2 {
    height: 400px;
    }
}

@media (max-width: 768px) {
.enroll-text h2 {
    font-size: 17px;
    padding-top: 48px;
    font-weight: 600;
    }
.enroll-text p {
    font-size: 8px;
    }

}




.ftco-footer {
  font-size: 16px;
  padding: 2em 0;
  z-index: 0;
  background: #ce4be8;
  background: -moz-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ce4be8), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -o-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -ms-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -webkit-linear-gradient(315deg, #ce4be8 0%, #207ce5 100%);
  background: -o-linear-gradient(315deg, #ce4be8 0%, #207ce5 100%);
  background: linear-gradient(135deg, #ce4be8 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce4be8', endColorstr='#207ce5', GradientType=1 ); }

.ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; 
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600; 
}
  
.ftco-footer .ftco-footer-widget ul li a {
    color: rgba(255, 255, 255, 0.8); 
}

.ftco-footer .ftco-footer-widget ul li a span {
      color: rgba(255, 255, 255, 0.1); 
}

.ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important; 
}

.ftco-footer .ftco-footer-widget .btn-primary:hover {
      background: #fff;
      border: 2px solid #fff !important; 
}

.ftco-footer p {
    color: rgba(255, 255, 255, 0.8); 
}

.ftco-footer a {
    color: rgba(255, 255, 255, 0.8); 
}
    .ftco-footer a:hover {
      color: #4986fc; 
}
  
.ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #fff; 
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; 
}
  
.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    color: #fff;
    border-radius: 50%;
    position: relative;
    background: #24d2c8; 
}

.ftco-footer-social li a span {
      position: absolute;
      font-size: 18px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff !important; 
}

.ftco-footer-social li a:hover {
    color: #4986fc; 
}


.block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.8) !important;
}

.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: #24d2c8 !important;
}

.block-23 ul li span {
    color: rgba(255, 255, 255, 0.7);
    color: #e449ad;
}

